@import "tailwindcss";
/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
:root{
  background-image: linear-gradient(to right top, #6f6f4f, #7f6849, #8d604d, #96585b, #935571, #865c87, #6d6598, #4b6fa1, #287a9f, #218393, #3c8983, #5b8c74);
  height:  100vh;
  color: white;
}